<div class="table-responsive ">
  <table class="table table-bordered">
	  <thead>
	  	<tr>
	  		<th>#</th>
	  		<th>Image</th>
        <th>URL</th>
	  		<th>Options</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<tr ng-repeat="banner in dataBanners">
	  		<th scope="row">{{banner.idBannerSliderHome}}</th>
	  		<td><img src="../../images/homeBanners/{{banner.bannerSliderHomeImage}}" style="width: 250px; height: auto;"></td>
        <td>{{banner.bannerSliderHomeUrl}}</td>
	  		<td>
	  			<span ng-click="deleteBanner(banner.idBannerSliderHome);" class="label label-danger" name="{{banner.idBannerSliderHome}}" style="cursor: pointer;">Delete</span>
	  		</td>
	  	</tr>
	  </tbody>
  </table>

  <div class="col-md-12">
  	<button ng-click="selectaAddBanner()" type="button" class="btn btn-primary">Add a new Banner</button>
	</div>
	<div class="col-md-5">
		<form class="form-horizontal" ng-show="addBanner" enctype="multipart/form-data" id="insertBannerImage" ng-submit="addBannerImg()">
  		<div class="form-group">
  			<div class="col-sm-12">
          <label for="banner-language" class="col-sm-12 control-label" style="text-align: left;">Language *</label>
          <select required class="form-control" id="banner-language" name="language">
            <option value="1" name="1">Spanish</option>
            <option value="0" name="0">English</option>
          </select>
          <label for="banner-url" class="col-sm-12 control-label" style="text-align: left;">URL Banner *</label>
  				<input required type="text" class="form-control" id="banner-url" name="bannerUrl" placeholder="Insert a URL banner."></input>
          <label for="banner-home" class="col-sm-12 control-label" style="text-align: left;">Image Banner *</label>
  				<input required type="file" class="form-control" id="banner-home" name="bannerImage[]"></input>
  				<input type="submit" class="btn btn-primary addBanner" value="Add"  name="" style="margin-top: 10px;"></input>
  			</div>
  		</div>
	  </form>
	</div>
</div>
