<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="../../images/rawMaterialProfiles/{{dataRawMaterialImages[0].rawMaterialProfileImage}}" style="height: 250px; width: auto;" >
      <div class="caption">
        <h3>Profile Image</h3>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="../../images/rawMaterialCovers/{{dataRawMaterialImages[0].rawMaterialCoverImage}}" style="height: 250px; width: auto;">
      <div class="caption">
        <h3>Cover Image</h3>
      </div>
    </div>
  </div>
</div>
