<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="../../images/beerProfiles/{{dataBeerImages[0].beerProfileImage}}" style="height: 250px; width: auto;" >
      <div class="caption">
        <h3>Profile Image (optimal: 210x240px)</h3>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="../../images/beerBottles/{{dataBeerImages[0].beerBottleImage}}" style="height: 250px; width: auto;">
      <div class="caption">
        <h3>Bottle Image (optimal: 125x400px)</h3>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="thumbnail">
      <img src="../../images/beerCovers/{{dataBeerImages[0].beerCoverImage}}">
      <div class="caption">
        <h3>Cover Image (optimal: 1366x375px)</h3>
      </div>
    </div>
  </div>
</div>
