<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="../../images/producerProfiles/{{dataProducerImages[0].producerProfileImage}}" style="height: 250px; width: auto;" >
      <div class="caption">
        <h3>Profile Image</h3>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="../../images/producerCovers/{{dataProducerImages[0].producerCoverImage}}" style="height: 250px; width: auto;">
      <div class="caption">
        <h3>Cover Image</h3>
      </div>
    </div>
  </div>
</div>
