<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      {{dataRawMaterial[0].rawMaterialDescriptionHTML}}
      <div class="caption">
        <h3>HTML Description</h3>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <ng-map zoom="11" center="[{{dataRawMaterial[0].rawMaterialLatitude}}, {{dataRawMaterial[0].rawMaterialLongitude}}]">
        <marker position="[{{dataRawMaterial[0].rawMaterialLatitude}}, {{dataRawMaterial[0].rawMaterialLongitude}}]" />
        <shape name="circle" radius="400" center="[{{dataRawMaterial[0].rawMaterialLatitude}},{{dataRawMaterial[0].rawMaterialLongitude}}]" radius="4000" />
        <control name="overviewMap" opened="true" />
      </ng-map>
      <div class="caption">
        <h3>Map</h3>
      </div>
    </div>
  </div>
</div>
